import { UseDataProps } from './type';
import { useTranslation } from 'react-i18next';

const useData = (): UseDataProps => {
	const { t } = useTranslation();

	return {
		t,
	};
};

export default useData;