import useData from './hook';
import { {componentName}Props } from './type';

const {componentName} = ({ dataCy }: {componentName}Props) => {
  const { t } = useData();

  return (
    <div className={`{componentNameInParamCase}-${dataCy}`}>
        {t('hephaestus.workDone')}
        <br/>
        {'{componentName} has been forged 🔨'}
    </div>
  );
}

export default {componentName};